<div class="background-container">
<header class="passenger-header">  <marquee width="60%" direction="right" height="50px">
 
  
    <h1>WELCOME TO SHARO AIRLINE RESERVATION</h1>
  </marquee>
    <ul><li><a href="#">LogOut</a></li></ul>
  </header>
  <marquee width="100%" direction="left" height="50px">
  <p>Your Journey Starts Here</p>
</marquee>
  <div class="passenger-home">
   
    <main>
      <section class="booking-section">
        <h2>Book Your Flight Now </h2>
        <div class="booking-form">
            <div class="buttons">
              
              <button id="home"(click)="getflights()"> <i  class="bi bi-person"></i>View Flights and Book</button>
              
           
                <!--<button id="home"(click)="newBooking()"> <i  class="bi bi-person"></i> Book Flight</button>
                <button id="home"(click)="newPayment()"> <i  class="bi bi-person"></i> payment</button> -->

                <!--<a routerLink="/getFlight" class="button">View Flights</a> 
                <a routerLink="/newBooking" class="button">Book a Flight</a> -->
          </div> 
        </div>
      </section>
    </main>

  </div>

