
    <div class="home">
      <header class="home-header"><marquee width="60%" direction="right" height="50px">
        <h1>WELCOME TO SHARO AIRLINE RESERVATION</h1></marquee>
        <nav>
          <ul>
            <button id="home"(click)="Login()"> <i  class="bi bi-person"></i>SignIn</button>

            <button id="home"(click)="register()"> <i  class="bi bi-person"></i>SignUp</button>
  
          </ul>
        </nav>
      </header>
      <body>
      <main class="home">
        <section class="dashboard-section">   
        </section>
      </main>
    </body>
    </div>
    
  
           
    
                
             

            
      
    
          

       

        
    