<div class="contain">
<div class="admin-container">
    <header class="admin-header"><marquee width="60%" direction="right" height="50px">
      <h1>WELCOME ADMIN </h1></marquee>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="addFlight">add Flights</a></li> 
          <li><a href="getAllBooking">Booking List</a></li> 
          <li><a href="listUsers">Users List</a></li>
          <li><a href="getallPayment">Payment List</a></li>
        </ul>
      </nav>
    </header>
    <body>
    <main class="admin-main">
    <section class="dashboard-section">   
    </section>
    </main>
  </body>
  </div>
  
