<header class="passenger-header">  <marquee width="60%" direction="right" height="50px">
  <h1>WELCOME TO SHARO AIRLINE RESERVATION</h1> 
  </marquee></header>

<div class="card">
    <h2 style="text-align:center">BOOKING DETAILS</h2>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>BookingId</th>
                    <th>Passenger Name</th>
                    <th>Airline Name</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Departure Date</th>
                    <th>Arrival Date</th>
                    <th>Ticket Price</th>
                  
                    <th>Payment</th>
            
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of booking | paginate:{itemsPerPage:pageCount,currentPage:pageNumber}">
                    <td>{{ booking.id }} </td> 
                    <td>{{ booking.username}} </td>
                    <td>{{ booking.airlineName}} </td>
                    <td>{{ booking.departureAirport}} </td>
                    <td>{{ booking.arrivalAirport}} </td>
                    <td>{{ booking.departureDate}} </td>
                    <td>{{ booking.arrivalDate}} </td>
                    <td>{{booking.ticketPrice}}</td>
                      
                    <td><button type="button" class="btn btn-info" (click)=paymentMethod(booking.id) >Payment</button></td>
                    
                </tr> 
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <pagination-controls (pageChange)="pageNumber= $event"></pagination-controls>
        </div>
</div>         

   